<% layout('layouts/boilerplate')%>
<h2>Show Campgrounds</h2>
<h3><%= camp.title %></h3>
<h4><%= camp.location %></h3>
<p>
  <a href="/campgrounds/<%= camp._id %>/edit">Edit </a>
</p>
<p>
  <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</p>
<footer>
  <a href="/campgrounds">All Campgrounds</a>
</footer>
